<footer>

    <div class="uk-child-width-1-2@s uk-grid-collapse uk-grid-match" uk-grid>

     <div class="background-blue">
         <div class="uk-section uk-section-large uk-flex uk-flex-center ">
           <div class="uk-padding-small">
             <div class="light">
               <h1 class="heading uk-margin-large-bottom">Hotel Santorini</h1>
               <p>¿Quieres recibir noticias y novedades?</p>
             </div>

          <div class="uk-margin">
            <form action="" class="form-style-a uk-margin-large-bottom">
              <div uk-form-custom="target: true">
                  <input class="uk-input uk-form-width-medium" type="text" placeholder="Ingresa tu email">
              </div>
              <a class="uk-button uk-button-default"><span class="span uk-icon" uk-icon="icon: arrow-right;"></span></a>
            </form>
          </div>

          <div class="light uk-light">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
              <li><a href="https://www.google.com/maps/place/Av+Costanera+Nte+163,+El+Quisco,+Regi%C3%B3n+de+Valpara%C3%ADso/@-33.3862197,-71.6949681,17z/data=!3m1!4b1!4m5!3m4!1s0x9662113641d75a29:0xbcdfdadd5b44cff9!8m2!3d-33.3862242!4d-71.6927794" target="_blank"><span class="uk-margin-small-right" uk-icon="icon: location"></span> Costanera Norte 163 El Quisco. Valparaíso. Chile.</a></li>
          <li><a><span class="uk-margin-small-right" uk-icon="icon: phone"></span> (35) 247 4845</a></li>
          <li><a href="https://www.facebook.com/SantoriniHotelLounge/" target="_blank"><span class="uk-margin-small-right" uk-icon="icon: facebook"></span> Santorini Hotel Lounge & Music</a></li>
            </ul>
          </div>
           </div>

         </div>
     </div>

     <div class="uk-background-cover uk-flex uk-flex-middle" uk-img data-src="{{ asset('assets/components/bg-b.png') }}">

       <div class="uk-text-center">
         <div class="uk-width-large@s uk-width-1-1 uk-padding uk-margin-auto">
           <h1 class="heading">Esperamos su pronta visita</h1>
         </div>
       </div>

     </div>

  </div>

</footer>
